<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%=simple_form_for :survey_form do |f|%>
        <%= f.input :survey_id, as: :hidden, :input_html => { :value => @survey.id} %>
        <h1><%= @survey.name %></h1>
        <p><%= @survey.introduction %></p>
        <br>
        <% @survey.questions.each do |question| %>
          <%= render_question_helper(f,question) %>
        <% end %>
        <div class="form-actions">
          <%= f.button :submit, "enviar →", :class => "pv-21 mv-56" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
