<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nombres</th>
      <th>Email</th>
      <th>Teléfono 1</th>
      <th>Teléfono 2</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.code, [:admin,user] %></td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= number_to_phone(user.profile.phone1, delimiter: " ") %></td>
        <td><%= number_to_phone(user.profile.phone2, delimiter: " ") %></td>
        <td style="width:20%;text-align: right;">
          <% if user.disable? %>
            <button class="">
              <a href="#" class="btn btn-primary enable-user" data-user-id="<%= user.id %>">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
              </a>
            </button>
          <% else %>
            <%= link_to edit_admin_user_path(user), class: "btn btn-primary" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
            <% end %>
          <% end %>

          <% if user.student? && !user.disable? %>
            <a href="#" class="btn btn-primary disable-user" data-user-id="<%= user.id %>">
              <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
            </a>
          <% end %>
          <%= link_to [:admin,user],class: "btn btn-primary", method: :delete, data: { confirm: '¿Estas seguro?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
