<h3><%= question.question_text %></h3>
<table class="table table-striped">
  <thead>
    <td></td>
    <% question.options.each do |value| %>
      <td><%= value %></td>
    <% end %>
  </thead>
  <tbody>
    <% question.jedis.each do |sprint_user| %>
    <tr>
      <td><%= sprint_user.user.profile.name %></td>
      <%= f.collection_radio_buttons("[questions]#{question.id}[value]", question.option_with_labels(sprint_user.id), :first, :last) do |b| %>
        <td><%= b.label { b.radio_button } %></td>
      <%end%>
      <td></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br>
